a:link{
    color: blue;
    text-decoration:none;
}
a:visited{
    color: blueviolet;
    text-decoration:none;
}
html{
    background-color: pink;
}
.white{
color:white
}
h1:hover{
    color:black;
    text-decoration:none;
}
main, header, footer{
    max-width: 400px;
    margin: auto;
    text-align: center;
}